@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Estilos globales para el cuerpo de la página */
body {
    font-family: 'Poppins', sans-serif;  /* Se aplica la fuente Poppins */
    margin: 0;  /* Elimina los márgenes predeterminados */
    padding: 0;  /* Elimina el relleno predeterminado */
    background-color: #ffffff;  /* Establece un fondo gris claro */
}

/* Contenedor principal utilizando Flexbox */
.container {
    display: flex;  /* Aplica el modelo de diseño Flexbox */
    flex-wrap: wrap;  /* Permite que los elementos se acomoden en varias líneas si es necesario */
}

/* Estilos del sidebar (barra lateral) */
.sidebar {
  width: 250px;  /* Ancho fijo del sidebar */
  background-color: #ffffff;  /* Fondo blanco */
  border-right: 2px solid #e0e0e0;  /* Borde gris claro a la derecha */
  padding: 40px;  /* Relleno interno de 20px */
  transition: transform 0.3s ease-in-out; /* Efecto de entrada/salida */
  position: fixed;
  top: 0;
  height: 100vh;  

}

/* Estilos para las imágenes dentro del sidebar */
/* Estilos para las imágenes dentro del sidebar */
.sidebar img {
  width: 100px; /* Ancho de la imagen */
  height: 100px; /* Altura de la imagen */
  display: block; /* Convierte la imagen en un bloque para centrarla */
  margin: 0 auto 20px; /* Centra la imagen y agrega un margen inferior */
  border-radius: 50%; /* Hace que la imagen sea redonda */
  object-fit: contain; /* Evita deformaciones y mantiene el recorte adecuado */
}


/* Títulos en el sidebar */
.sidebar h2 {
    color: #17E0A7;  /* Color verde turquesa */
    font-size: 18px;  /* Tamaño de fuente de 18px */
    text-align: center;  /* Centra el texto */
}

/* Párrafos en el sidebar */
.sidebar p {
    color: #000;  /* Color de texto negro */
    font-size: 14px;  /* Tamaño de fuente de 14px */
    text-align: center;  /* Centra el texto */
    margin-bottom: 20px;  /* Margen inferior de 20px */
    font-weight: 600;  /* Peso de fuente de 600 (negrita) */
}

/* Estilos de los enlaces dentro del sidebar */
.sidebar a {
    display: block;  /* Hace que los enlaces sean bloques para ocupar toda la línea */
    color: #0CACAB;  /* Color turquesa para los enlaces */
    font-size: 20px;  /* Tamaño de fuente de 20px */
    text-align: center;  /* Centra el texto */
    padding: 17px 0;  /* Relleno vertical de 17px */
    font-weight: 900;  /* Peso de fuente negrita */
    text-decoration: none;  /* Elimina el subrayado de los enlaces */
    border-top: 1px solid #e0e0e0;  /* Borde superior gris claro */
}

/* El primer enlace no tiene borde superior */
.sidebar a:first-child {
    border-top: none;  /* Elimina el borde superior del primer enlace */
}

/* Estilo del contenido principal */
.content {
    flex-grow: 1;  /* Hace que el contenido ocupe el espacio restante */
}

/* Estilos para el encabezado */
.header {
    display: flex;  /* Utiliza flexbox para organizar el contenido */
    justify-content: space-between;  /* Espacio entre los elementos */
    align-items: center;  /* Alineación vertical de los elementos */
    background-color: #ffffff;  /* Fondo blanco */
    padding: 10px 20px;  /* Relleno de 10px en vertical y 20px en horizontal */
    border-bottom: 1px solid #e0e0e0;  /* Borde inferior gris claro */
    flex-wrap: nowrap;
}

/* Estilos para la imagen del encabezado */
.header img {
    width: 50px;  /* Ancho de la imagen */
    height: 50px;  /* Altura de la imagen */
}

/* Estilo para los botones en el encabezado */
.header button {
    background-color: #0CACAB;  /* Fondo turquesa */
    color: #ffffff;  /* Color de texto blanco */
    border: none;  /* Elimina el borde */
    padding: 10px 20px;  /* Relleno de 10px en vertical y 20px en horizontal */
    cursor: pointer;  /* Cambia el cursor a un puntero */
    border-radius: 5px;  /* Bordes redondeados */
    font-size: 14px;  /* Tamaño de fuente de 14px */
}

/* Enlaces activos en el sidebar */
.sidebar a.active {
    background-color: #e0f7fa;  /* Fondo celeste para los enlaces activos */
}

/* Estilo para el contenido principal */
.main-content {
    flex: 1;  /* Hace que el contenido ocupe el espacio restante */
    padding: 20px;  /* Relleno de 20px */
    background-color: #ffffff;  /* Fondo blanco */
}
/* From Uiverse.io by pathikcomp */ 
.main > .inp {
    display: none;
  }
  .main {
    font-weight: 800;
    color: white;
    background-color: 0CACAB;
    padding: 3px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 2.5rem;
    width: 12rem;
    position: relative;
    cursor: pointer;
    justify-content: space-between;
  }
  
  .arrow {
    height: 34%;
    aspect-ratio: 1;
    margin-block: auto;
    position: relative;
    display: flex;
    justify-content: center;
    transition: all 0.3s;
  }
  
  .arrow::after,
  .arrow::before {
    content: "";
    position: absolute;
    background-color: white;
    height: 100%;
    width: 2.5px;
    border-radius: 500px;
    transform-origin: bottom;
  }
  
  .arrow::after {
    transform: rotate(35deg) translateX(-0.5px);
  }
  .arrow::before {
    transform: rotate(-35deg) translateX(0.5px);
  }
  
  .main > .inp:checked + .arrow {
    transform: rotateX(180deg);
  }
  
  .menu-container {
    display: flex;
    flex-direction: column;  /* Alinea los elementos en columna */
    align-items: center;  /* Opcional, para centrar los elementos */
    gap: 15px; /* Espacio entre los elementos */  
    background-color: white;
    color: 0CACAB;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 130%;
    overflow: visible;
    clip-path: inset(0% 0% 0% 0% round 10px);
    transition: all 0.4s;
    
  }
  .menu-list {
    --delay: 0.4s;
    --trdelay: 0.15s;
    padding: 8px 10px;
    border-radius: inherit;
    transition: background-color 0.2s 0s;
    position: relative;
    transform: translateY(30px);
    opacity: 0;
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del contenedor o el texto */
    width: 100%;  /* Ajusta el ancho del enlace al 100% de su contenedor */
    text-align: center; /* Centra el texto dentro del enlace */
  }
  
  .menu-list::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 95%;
  }
  
  .menu-list:hover {
    background-color: rgb(223, 223, 223);
  }
  
  .inp:checked ~ .menu-container {
    clip-path: inset(10% 50% 90% 50% round 10px);
  }
  
  .inp:not(:checked) ~ .menu-container .menu-list {
    transform: translateY(0);
    opacity: 1;
  }
  
  .inp:not(:checked) ~ .menu-container .menu-list:nth-child(1) {
    transition:
      transform 0.4s var(--delay),
      opacity 0.4s var(--delay);
  }
  
  .inp:not(:checked) ~ .menu-container .menu-list:nth-child(2) {
    transition:
      transform 0.4s calc(var(--delay) + (var(--trdelay) * 1)),
      opacity 0.4s calc(var(--delay) + (var(--trdelay) * 1));
  }
  
  .inp:not(:checked) ~ .menu-container .menu-list:nth-child(3) {
    transition:
      transform 0.4s calc(var(--delay) + (var(--trdelay) * 2)),
      opacity 0.4s calc(var(--delay) + (var(--trdelay) * 2));
  }
  
  .inp:not(:checked) ~ .menu-container .menu-list:nth-child(4) {
    transition:
      transform 0.4s calc(var(--delay) + (var(--trdelay) * 3)),
      opacity 0.4s calc(var(--delay) + (var(--trdelay) * 3));
  }
  
  .bar-inp {
    display: none;
    visibility: hidden;
  }
  
  .bar {
    display: flex;
    height: 50%;
    width: 20px;
    flex-direction: column;
    gap: 3px;
  }
  
  .bar-list {
    --transform: -25%;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 50px;
    background-color: white;
    transition: all 0.4s;
    position: relative;
  }
  
  .inp:not(:checked) ~ .bar > .top {
    transform-origin: top right;
    transform: translateY(var(--transform)) rotate(-45deg);
  }
  
  .inp:not(:checked) ~ .bar > .middle {
    transform: translateX(-50%);
    opacity: 0;
  }
  
  .inp:not(:checked) ~ .bar > .bottom {
    transform-origin: bottom right;
    transform: translateY(calc(var(--transform) * -1)) rotate(45deg);
  }


.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.stat {
    background-color: #ffffff;
    width: 200px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stat:hover {
    background-color: #B2E5EC;
    color: #ffffff;
}

.stat i {
    font-size: 30px;
    color: #0CACAB;
    margin-bottom: 10px;
}

.stat h3 {
    font-size: 16px;
    color: #0CACAB;
    margin-bottom: 10px;
}

.stat p {
    font-size: 24px;
    color: #000;
    margin: 0;
    font-weight: 600;
}

.header-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.header-2 input {
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: 300px;
}
.header-2 button {
    background-color: #3fab9d;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
/* From Uiverse.io by LightAndy1 */ 
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 70%;
    margin-bottom: 2%;
  }
  
  .input {
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: 0.3s ease;
    width: 100%;
  }
  
  .input::placeholder {
    color: #9e9ea7;
  }
  
  .input:focus,
  input:hover {
    outline: none;
    border-color: rgba(0, 48, 73, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(0 48 73 / 10%);
  }
  
  .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
  }
/* From Uiverse.io by Cksunandh */ 
.receipts-container {
  display: flex;  /* Utiliza flexbox para alinear las facturas */
  flex-wrap: wrap;  /* Permite que las facturas se acomoden en varias filas */
  justify-content: center;
}
.receipts-container {
  /* max-height: 500px; Ajusta la altura máxima según necesites */
  overflow: visible
  ;
  padding-right: 10px;
  margin-top: 3%; /* Espacio para que no se superponga el scroll */
}

/* Estiliza la barra de desplazamiento (opcional) */
.receipts-container::-webkit-scrollbar {
  width: 6px; /* Ancho de la barra */
}

.receipts-container::-webkit-scrollbar-thumb {
  background-color: #cecece; /* Color del "thumb" */
  border-radius: 10px; /* Bordes redondeados */
}

.receipts-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color del fondo */
}

.receipt {
  width: calc(33% - 20px);  /* Ancho de cada factura (3 por fila) */
  margin: 5px;  /* Margen entre las facturas */
  background: white;
  border: 2px dashed #ccc;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.shop-name {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #0CACAB;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;/* para poner ... al final*/
  height: 27px;
  white-space: nowrap;
}

.info {
  text-align: center;
  font-size: 0.85rem;
  margin-bottom: 15px;
}

.receipt table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
  font-size: 0.85rem;
}
.receipt table th{
  color: #0CACAB;

}

.receipt table th,
.receipt table td {
  padding: 2px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #0CACAB;
}
.line-vertical {
  width: 100%; /* Ancho de la línea */
  background-color: #25252536; /* Color de la línea */
  height: 2px; /* Grosor de la línea */
  margin: 10px 0; /* Espacio arriba y abajo de la línea */
}
.Estado {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #0CACAB;
}
.Estado #Estado-Activo{
  color: #1fac0c;
}

.Estado #Estado-Despachado{
  color: #e3eb08;
}
.Estado #Estado-Transito{
  color: #08ebba;
}
.Estado #Estado-Proceso{
  color: #eb8c08;
}

.Estado #Estado-Cancelado {
  color: #eb0808;
}

.barcode {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.thanks {
  font-size: 0.85rem;
  text-align: center;
  margin-top: 10px;
}
footer {
  text-align: center; /* Centra el texto */
  padding: 10px 0; /* Agrega un poco de espacio arriba y abajo */
    position: relative;
}
.main{
  z-index: 100;
  display: none;
}
/*---------------------------------------------------------------------CAMPANA Y LOGO USUARIO----------------------------------------------------------------------*/
/* ---- Container con campana ---- */

.contenedor-iconos {
  display: flex;
  justify-content: flex-end; /* Mueve los elementos a la derecha */
  align-items: center; /* Alinea verticalmente */
  gap: 20px; /* Espacio entre los iconos */
  width: 100%; /* Que ocupe todo el ancho */
  margin-top: 5px;
  z-index: 10;

}
.container-2 {
  --color: #0CACAb;
  --size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
  right: 580px;
  transform: translateX(580px);
}

.container-2 .bell-regular {
  animation: keyframes-fill 0.5s;
}

.container-2 .bell-solid {
  display: none;
  animation: keyframes-fill 0.5s;
}

/* ---- Estados al marcar el checkbox ---- */
.container-2 input:checked ~ .bell-regular {
  display: none;
}

.container-2 input:checked ~ .bell-solid {
  display: block;
}

/* ---- Ocultar el checkbox por defecto ---- */
.container-2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ---- Animación ---- */
@keyframes keyframes-fill {
  0% {
    opacity: 0;
  }
  25% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(-20deg) scale(1.2);
  }
  75% {
    transform: rotate(15deg);
  }
}

/* ---- Popup y variables ---- */
.popup {
  --burger-line-width: 1.125em;
  --burger-line-height: 0.125em;
  --burger-offset: 0.625em;
  --burger-bg: #0CACAB;
  --burger-color: #333;
  --burger-line-border-radius: 0.1875em;
  --burger-diameter: 3.125em;
  --burger-btn-border-radius: calc(var(--burger-diameter) / 2);
  --burger-line-transition: 0.3s;
  --burger-transition: all 0.1s ease-in-out;
  --burger-hover-scale: 1.1;
  --burger-active-scale: 0.95;
  --burger-enable-outline-color: var(--burger-bg);
  --burger-enable-outline-width: 0.125em;
  --burger-enable-outline-offset: var(--burger-enable-outline-width);
  /* nav */
  --nav-padding-x: 0.25em;
  --nav-padding-y: 0.625em;
  --nav-border-radius: 0.375em;
  --nav-border-color: #ffffff;
  --nav-border-width: 0.0625em;
  --nav-shadow-color: #0cacac5c;
  --nav-shadow-width: 0 1px 5px;
  --nav-bg: #ffffff;
  /* Si prefieres gris claro usa: --nav-bg: #f5f5f5; */
  --nav-font-family: "Poppins", sans-serif;
  --nav-default-scale: 0.8;
  --nav-active-scale: 1;
  --nav-position-left: 0;
  --nav-position-right: unset;
  /* Título */
  --nav-title-size: 0.625em;
  --nav-title-color: #777;
  --nav-title-padding-x: 1rem;
  --nav-title-padding-y: 0.25em;
  /* Botones del menú */
  --nav-button-padding-x: 1rem;
  --nav-button-padding-y: 0.375em;
  --nav-button-border-radius: 0.375em;
  --nav-button-font-size: 17px;
  --nav-button-hover-bg: #0CACAB;
  --nav-button-hover-text-color: #fff;
  --nav-button-distance: 0.875em;
  /* Línea separadora */
  --underline-border-width: 0.0625em;
  --underline-border-color: #ebebeb;
  --underline-margin-y: 0.3125em;
  
  display: inline-block;
  text-rendering: optimizeLegibility;
  position: relative;
}

.popup input {
  display: none;
}

/* ---- Botón tipo "burger" ---- */
.burger {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: var(--burger-bg);
  width: var(--burger-diameter);
  height: var(--burger-diameter);
  border-radius: var(--burger-btn-border-radius);
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: var(--burger-transition);
  outline: var(--burger-enable-outline-width) solid transparent;
  outline-offset: 0;
}

/* ---- Ventana del popup ---- */
.popup-window {
  transform: scale(var(--nav-default-scale));
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: var(--nav-padding-y) var(--nav-padding-x);
  background: var(--nav-bg);
  font-family: var(--nav-font-family);
  color: var(--burger-color);
  border-radius: var(--nav-border-radius);
  box-shadow: var(--nav-shadow-width) var(--nav-shadow-color);
  border: var(--nav-border-width) solid var(--nav-border-color);
  top: calc(var(--burger-diameter) + var(--burger-enable-outline-width) + var(--burger-enable-outline-offset));
  left: auto;
  right: 0;
  transition: var(--burger-transition);
  margin-top: 10px;
}

.popup-window legend {
  padding: var(--nav-title-padding-y) var(--nav-title-padding-x);
  margin: 0;
  color: var(--nav-title-color);
  font-size: var(--nav-title-size);
  text-transform: uppercase;
}

.popup-window ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.popup-window ul button {
  outline: none;
  width: 100%;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  color: var(--burger-color);
  font-size: var(--nav-button-font-size);
  padding: var(--nav-button-padding-y) var(--nav-button-padding-x);
  white-space: nowrap;
  border-radius: var(--nav-button-border-radius);
  cursor: pointer;
  column-gap: var(--nav-button-distance);
}

.popup-window ul li:nth-child(1) svg,
.popup-window ul li:nth-child(2) svg {
  color: #0CACAB;
}

.popup-window hr {
  margin: var(--underline-margin-y) 0;
  border: none;
  border-bottom: var(--underline-border-width) solid var(--underline-border-color);
}

/* ---- Acciones en botones del popup ---- */
.popup-window ul button:hover,
.popup-window ul button:focus-visible,
.popup-window ul button:hover svg,
.popup-window ul button:focus-visible svg {
  color: var(--nav-button-hover-text-color);
  background: var(--nav-button-hover-bg);
}

/* ---- Estados del botón burger ---- */
.burger:hover {
  transform: scale(var(--burger-hover-scale));
}

.burger:active {
  transform: scale(var(--burger-active-scale));
}

.burger:focus:not(:hover) {
  outline-color: var(--burger-enable-outline-color);
  outline-offset: var(--burger-enable-outline-offset);
}

/* ---- Transformación de las líneas del burger al marcar ---- */
.popup input:checked + .burger span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.popup input:checked + .burger span:nth-child(2) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.popup input:checked + .burger span:nth-child(3) {
  transform: translateX(calc(var(--burger-diameter) * -1 - var(--burger-line-width)));
}

/* ---- Mostrar el menú al marcar ---- */
.popup input:checked ~ nav {
  transform: scale(var(--nav-active-scale));
  visibility: visible;
  opacity: 1;
}

/* ---- Estilos para el pie de página ---- */
#p-2 {
  font-size: 10px;
  font-weight: normal;
  text-align: center;
  color: #666;
 }

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 768px) {
  .sidebar {
      transform: translateX(-100%); /* Mueve el sidebar fuera de la pantalla */
  }
  .receipt{
    width: calc(50% - 20px);
  }

  .sidebar.show {
      transform: translateX(0); /* Lo muestra nuevamente */
  }

  .main-content{
    position: absolute;
    
  }
  footer{
    top: 650px;
  }
  .receipts-container{
    padding-right:5px ;
  }
  .main{
    display: flex;
  }
  
  
}

@media (min-width: 769px) and (max-width: 1023px){
  .receipt{
    width: calc(50% - 10px);
    
  }
}

@media (min-width: 320px) and (max-width:510px){
  .receipt{
    width: 100%;
  }
  footer{
    top: 1300px
  }
  
}

@media (min-width:768px){
  .main-content{
    margin-left: 250px;
  }
  .header img{
    margin-left: 250px;
  }

}

#no-orders{
  display: flex;
  justify-content: center;
}

#orders-loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.no-data-message {
  font-size: 18px;
  font-weight: bold;
  color: gray;
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}