<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" href="../img/Icono-K.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/styles.css">
    <title>Cambia tu Contraseña</title>
</head>

<body>
    <div id="alert-container" class="alert-container"></div>
    <div class="container-2">
        <h2 class="title-2">Cambia Tu Contraseña</h2>
        <img src="../img/Icono-K.png" alt="" class="image-2">
        <div class="signin-signup">
            <form action="" class="sign-in-form-2">
                <div class="input-field">
                    <i class="fas fa-envelope icon"></i>
                    <input type="password" id="new-password" placeholder="Nueva Contraseña">
                </div>
                <div class="input-field">
                    <i class="fas fa-envelope icon"></i>
                    <input type="password" id="confirm-password" placeholder="Confirma Contraseña">
                </div>
                <input type="submit" value="Confirmar" class="btn">
            </form>
        </div>
        <script src="../js/controllers/user/passwordResetController.js" type="module"></script>

    </div>
</body>

</html>