<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificaciones</title>
    <link rel="icon" type="image/png" href="../img/Icono-K.png">
    <link rel="stylesheet" href="../css/styleNotificaciones.css">
    <link rel="stylesheet" href="../css/styleLoader.css"/>
    <link rel="stylesheet" href="../css/stylePagination.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-left">
                <a href="index.html" class="back-link" title="Volver a la página principal">
                    <span class="back-icon"><i class="fa-solid fa-arrow-left"></i>
                    </span>
                </a>
                <h1>Notificaciones</h1>
            </div>
            <div class="header-buttons">
                <button id="btn-delete-read-notification" class="undo-button" disabled><i class="fa-solid fa-trash"></i>
                </button>
            </div>
        </div>

        <ul class="notification-list" id="notifications"></ul>
        <div id="notifications-loading" class="loader" style="display: none;">
            <div class="dot-spinner">
                <div class="dot-spinner__dot"></div>
                <div class="dot-spinner__dot"></div>
                <div class="dot-spinner__dot"></div>
                <div class="dot-spinner__dot"></div>
                <div class="dot-spinner__dot"></div>
                <div class="dot-spinner__dot"></div>
                <div class="dot-spinner__dot"></div>
                <div class="dot-spinner__dot"></div>
              </div>
        </div>
        <div class="loader" id="no-notifications" style="display: none;">
            <div class="no-notifications">
                <i class="fa-solid fa-bell-slash"></i>
                <p>No tienes notificaciones disponibles</p>
            </div>
        </div>
    </div>
    <div id="pagination" class="pagination-controls"></div>
    <script src="../js/utils/protect.js"></script>
    <script type="module" src="../js/controllers/notification/getAllNotifications.js"></script>
    <script type="module" src="../js/controllers/notification/deleteAllReadNotifications.js"></script>
</body>
</html>